<mat-nav-list>

  <div class="profile-card">
    <div class="header">
      <h2>Sharjeel Karim</h2>
      <h4>sharjeel_sk@ymail.com</h4>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT63gy70sJXLsm7oBugYcF_N6A_WH2YFpJyCA&usqp=CAU"
         alt="Sharjeel Karim">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <!--   routing done here to a few pages-->
  <a mat-list-item routerLinkActive routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive routerLink="/articles">Employees</a>


  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>




</mat-nav-list>
